.box {
    cursor: pointer;
    text-align: center;
    user-select: none;

    position: absolute;

    padding-top: 15px;
    padding-bottom: 15px;

    border-radius: 7px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;

    opacity: 1.0;
}

#b1 {
  left: 50px;
  top: 300px;
  background-color: #ffff90;
}
#b2 {
  left: 105px;
  top: 300px;
  background-color: #90ffff;
}
#b3 {
  left: 160px;
  top: 300px;
  background-color: #ff90ff;
}
