#c1 {
    top: 100px;
    left: 100px;
    background-color: #0000ff;
}
#c2 {
    top: 150px;
    left: 150px;
    background-color: #00ff00;
}
#b1 {
    top: 300px;
    left: 50px;
    background-color: #ffff00;
}
#b2 {
    top: 380px;
    left: 50px;
    background-color: #00ffff;
}
#b3 {
    top: 460px;
    left: 50px;
    background-color: #ff00ff;
}
.circle {
    user-select: none;
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box {
    user-select: none;
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 7px;
}
